@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

body,
html {
  overflow-x: hidden !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* BUTTONS */
@layer components {
  .btn-md {
    @apply px-8 py-3;
  }

  .btn-primary {
    @apply px-8 py-3 text-base font-medium text-center text-dark rounded-lg focus:outline-none;
    background-color: #fbe10d !important;
    color: #100f08 !important;
    transition: all 0.3s;
  }

  .btn-dark {
    @apply px-8 py-3 text-base font-medium text-center text-dark rounded-lg focus:outline-none;
    background-color: #100f08 !important;
    color: #fff !important;
    transition: all 0.3s;
  }

  .btn-primary:hover {
    background-color: #d5ae3e !important;
  }
  .btn-dark:hover {
    background-color: #1f1e19 !important;
  }

  .tab-container button[aria-selected="true"] {
    @apply bg-primary text-dark focus:ring-0 font-bold;
  }
}

/* styles/globals.css */
.slick-prev:before,
.slick-next:before {
  color: yellow; /* Adjust color as needed */
}

.main-slider .slick-arrow {
  z-index: 1;
}

.thumb-slider .slick-slide {
  padding: 5px;
}

.thumb-slider .slick-current .relative {
  border: 2px solid yellow; /* Highlight current thumbnail */
}

/* Features card */

.features-card > .p-6 {
  padding: 16px !important;
}

.features-card > .gap-4 {
  gap: 8px !important;
}

::-webkit-scrollbar {
  width: 5px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #fbe10d; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  /* creates padding around scroll thumb */
}

/* Whatsapp */

.whatsapp-icon {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  /* font-size: 24px; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  transition: background-color 0.3s ease;
}

.whatsapp-icon i {
  display: inline-block;
  line-height: 1; /* Resets any line-height issues */
  font-size: 30px;
}
.whatsapp-icon:hover i {
  color: #fff;
}

.whatsapp-icon:hover {
  background-color: #1ebe5c;
}
